# Set the default behavior
* text eol=lf

# Explicitly declare for text files
*.m text
*.md text
*.txt text
*.rst text
*.html text
*.c text
*.cpp text

# Denote all files that are truly binary and should not be modified.
*.mexw64 binary
*.ttf binary
*.png binary
*.jpg binary
*.woff binary
*.eot binary
*.tif binary
*.docx binary
*.pdf binary
